.container {
	position: fixed;
	left: 0;
	width: 616px;
	height: 100%;
	overflow: scroll;
	transform: translate(-616px);
	transition: transform 0.5s ease;
}

.open {
	transform: translate(0);
	display: block;
}

.form {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	box-sizing: border-box;
	width: 616px;
	height: auto;
	min-height: 100%;
	padding: 50px 31px;
	background-color: #ffffff;
	border-right: 1px solid #000000;
}

.title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-style: normal;
	font-size: 31px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: left;
	text-transform: uppercase;
	margin: 0 0 50px 0;
	color: #000000;
}

.formGrid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 50px;
	margin-bottom: 50px;
	border-bottom: 1px solid #D7D7D7;
    padding-bottom: 50px;
}

.formGrid:last-child {
	border-bottom: none;
}

.bottomContainer {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}
